*~
*.d
*.o
*.db
*.gz
*.so
*.ccd
*.exe
*.pyc
*.dump
*.root
**/*.root
*.pcm
*.heprep
PersistencyDict.cc
PersistencyDict.h
.*.swp
Session.vim
html/
tmp/
lib/
bin/
*.dSYM
UserAnalysis/*.py
PadmeReco/*.py
**/.nfs*
UserAnalysis/run512/

